<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-me-container">
      <h1 class="about-me">
        <span class="text-black">ABOUT</span>
        <span class="text-green">ME</span>
      </h1>
      <div class="bio-container">
        <img
          src="../img/mob1x.jpg"
          alt="red-haired-man-with-laptop"
          class="img-about-me"
        />

        <div class="bio-text-container">
          <h3>bio</h3>
          <p class="text-one">
            I'm Lloyd Jefferson, a talented programmer specializing in software
            development. My expertise spans various programming languages and
            technologies, and I am dedicated to continually enhancing my skills.
            I thrive on seeking unconventional and creative solutions to
            problems, leveraging a high level of analytical skills to
            effectively tackle even the most challenging tasks.
          </p>

          <p class="text-two">
            Adaptable to both independent and team-oriented work, I collaborate
            seamlessly with colleagues, exchanging ideas and finding optimal
            solutions. My professional maturity enables me to navigate
            challenges and stressful situations with a calm demeanor,
            maintaining a consistently high quality of work. Committed to
            self-improvement, I actively engage in studying new technologies and
            practices to stay current with the latest innovations in the field.
          </p>
          <div class="background-img"></div>
        </div>
      </div>
      <div class="bio-list">
        <section class="sec-edu">
          <h3>education</h3>
          <ul>
            <li>
              <svg
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="4"
                  height="4"
                  rx="1"
                  transform="matrix(-1 0 0 1 14 10)"
                  fill="#00B068"
                ></rect>
              </svg>
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li>
              <svg
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="4"
                  height="4"
                  rx="1"
                  transform="matrix(-1 0 0 1 14 10)"
                  fill="#00B068"
                ></rect>
              </svg>
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li>
              <svg
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="4"
                  height="4"
                  rx="1"
                  transform="matrix(-1 0 0 1 14 10)"
                  fill="#00B068"
                ></rect>
              </svg>
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </section>

        <section class="sec-role">
          <h3>role</h3>
          <ul>
            <li>
              <svg
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="4"
                  height="4"
                  rx="1"
                  transform="matrix(-1 0 0 1 14 10)"
                  fill="#00B068"
                ></rect>
              </svg>
              Frontend development
            </li>
            <li>
              <svg
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="4"
                  height="4"
                  rx="1"
                  transform="matrix(-1 0 0 1 14 10)"
                  fill="#00B068"
                ></rect>
              </svg>
              HeadlessCMS, Wordpress
            </li>
            <li>
              <svg
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="4"
                  height="4"
                  rx="1"
                  transform="matrix(-1 0 0 1 14 10)"
                  fill="#00B068"
                ></rect>
              </svg>
              Blender (enjoy)
            </li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
