<section id="faq" class="faq-section">
  <div class="container green-decor">
    <h2 class="faq-title autoShow">
      Frequently asked <span class="highlight-green">question</span>
    </h2>
    <ul class="faq-list accordion-container">
      <li class="ac faq-item autoShow">
        <h3 class="ac-header faq-header">
          <button class="faq-btn ac-trigger">
            What programming languages are most often used in your project?
            <svg class="faq-btn-close" width="24" height="24">
              <use href="/img/icons.svg#icon-icon-vector-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac faq-item autoShow">
        <h3 class="ac-header faq-header">
          <button class="faq-btn ac-trigger">
            What are the deadlines for the project?
            <svg class="faq-btn-close" width="24" height="24">
              <use href="/img/icons.svg#icon-icon-vector-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            The terms of project implementation depend to a large extent on a
            nnmber of factors, such as the scope of the project, its complexity,
            and the availability of resourced. Determining exact deadlines is a
            difficlt task, and it usualy occurs during the planning phase of the
            project.
          </p>
        </div>
      </li>
      <li class="ac faq-item autoShow">
        <h3 class="ac-header faq-header">
          <button class="ac-trigger faq-btn" data-accordion-btn>
            What payment methods do you accept?
            <svg class="faq-btn-close" width="24" height="24">
              <use href="/img/icons.svg#icon-icon-vector-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            Payment throuh credit and debit cards sush as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="ac faq-item autoShow">
        <h3 class="ac-header faq-header">
          <button class="faq-btn ac-trigger" data-accordion-btn>
            How can I contact you?
            <svg class="faq-btn-close" width="24" height="24">
              <use href="/img/icons.svg#icon-icon-vector-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac faq-item autoShow">
        <h3 class="ac-header faq-header">
          <button class="faq-btn ac-trigger" data-accordion-btn>
            Do you provide advice or support?
            <svg class="faq-btn-close" width="24" height="24">
              <use href="/img/icons.svg#icon-icon-vector-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            The terms of project implementation depend to a large extent on a
            nnmber of factors, such as the scope of the project, its complexity,
            and the availability of resourced. Determining exact deadlines is a
            difficlt task, and it usualy occurs during the planning phase of the
            project.
          </p>
        </div>
      </li>
      <li class="ac faq-item autoShow">
        <h3 class="ac-header faq-header">

          <button class="faq-btn ac-trigger" data-accordion-btn>
            What does the process of developing a software product look like from
            idea to implementation?
            <svg class="faq-btn-close" width="24" height="24">
              <use href="/img/icons.svg#icon-icon-vector-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p>
            Payment throuh credit and debit cards sush as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>