<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo-social">
                <h3 class="footer-logo">lloyd<span class="footer-logo-sp">jefferson.</span></h3>


                <ul class="footer-socials">
                    <li>
                        <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer">
                            Linkendin
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer">
                            Github
                        </a>
                    </li>
                </ul>
            </div>
            
            <p class="copyright">© Copyright 2024. Made by LloydJefferson</p>
        </div>
        </footer>
    <script src="./script.js"></script>
</body>

</html>