<div class="menu_modal" id="menuModal">
  <div class="logo">
    <h1 class="logo_part1">
      LLOYD<span class="logo_part2">JEFFERSON.</span>
    </h1>

    <svg class="icon" id="closeModal">
      <use href="/img/icons.svg#icon-close"></use>
    </svg>
  </div>
  <div class="menu_option">
    <ul class="option">
      <li class="li-order">
        <a href="#about-me" class="order">About me</a>
      </li>
      <li class="li-order">
        <a href="#projects" class="order">Projects</a>
      </li>
      <li class="li-order">
        <a href="#work-together" class="order">Contacts</a>
      </li>
    </ul>
  </div>
</div>