<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal-Menu</title>
    <link rel="stylesheet" href="../css/header-menu_modal.css" />
  </head>
  <body>
    <div class="body_main">
      <div class="menu_modal close" id="menuModal">
        <div class="logo">
          <h1 class="logo_part1">
            LOYD<span class="logo_part2">JEFFERSON.</span>
          </h1>

          <svg class="icon" id="closeModal">
            <use href="../img/icons.svg#icon-close"></use>
          </svg>
        </div>
        <div class="menu_option">
          <ul class="option">
            <li class="li-order">
              <a href="#About" class="order">About me</a>
            </li>
            <li class="li-order">
              <a href="#Projects" class="order">Projects</a>
            </li>
            <li class="li-order">
              <a href="#Contacts" class="order">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script type="module" src="./header-modal.js" defer></script>
  </body>
</html>
