<header class="header">
  <div class="container">
    <a href="/src/index.html" class="header-logo">
      lloyd<span class="header-logo_sp">jefferson.</span>
    </a>
    <div class="nav-container">
      <label class="switch">
        <input type="checkbox" />
        <span class="move-span"></span>
      </label>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-link" href="#about-me">About me</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#work-together">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="modal-toggle">
      <input type="checkbox" id="modal-check" class="modal-check" />
      <label for="modal-check" class="menu-icon">
        <svg class="modal-svg" tabindex="0" width="32" height="32">
          <use href="/img/icons.svg#icon-material-symbols-light_menu"></use>
        </svg>

        <svg class="modal-close" tabindex="0">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </label>
    </div>
  </div>
</header>