<link rel="stylesheet" href="../css/heder-menu_modal.css" />
<script type="module" src="../heder-modal.js" defer></script>



<button id=" js-modal-btn">Open</button>

<div class="body_main">
  <div class="menu_modal close" id="menuModal">
    
      <div class="logo_menu">
        <div class="logo">
          <span class="logo_part1">LLOYD</span>
          <span class="logo_part2">JEFFERSON.</span>
        </div>

        <svg class="icon" id="closeModal">
          <use href="/src/img/icons_1.svg#x"></use>
        </svg>
      </div>
      <div class="menu_option">
        <ul class="option">
          <li class="li">
            <a href="#About" class="order">About me</a>
          </li>
          <li class="li">
            <a href="#Projects" class="order">Projects</a>
          </li>
          <li class="li">
            <a href="#Contacts" class="order">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

