<section class="hero-section" id="hero">
  <div class="container hero-container hero-green-dots">
    <div class="title-img">
      <h1 class="hero-title">
        Hello, I am <span class="highlight-green">Fullstack developer</span>
      </h1>
      <picture>
        <source srcset="/img/hero/hero.jpg 1x, /img/hero/hero@2x.jpg 2x">
        <img src="/img/hero/hero.jpg" alt="developer" class="hero-img" width="592" height="444" loading="lazy">
      </picture>
    </div>
    <div class="text-link">
      <div class="order-link">
        <svg class="arrow" width="28" height="28">
          <use href="/img/icons.svg#icon-arrow-long"></use>
        </svg>
        <a href="#work-together" class="hero-link">Order the projects</a>
      </div>

      <p class="hero-sub">
        I work with people all over the world to create
        <span class="hero-span">impressive</span> and
        <span class="hero-span">functional websites</span> that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>
  <div class="soc-links">
    <ul class="soc-list list">
      <li class="soc-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="soc-a">Instagram</a>
      </li>
      <li class="soc-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" class="soc-a">Facebook</a>
      </li>
      <li class="soc-item">
        <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
          class="soc-a">Linkedin</a>
      </li>
      <li class="soc-item">
        <a href="https://github.com/Duard4/goit-js-team-project" target="_blank" class="soc-a">GitHub</a>
      </li>
    </ul>
  </div>
</section>