<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">reviews</h2>
    <div class="swiper swiper">
      <ul class="reviews-list swiper-wrapper"></ul>

      <div class="button-arrows">
        <button type="button" class="swiper-button-prev">
          <svg class="icon-arrow-narrow-left arrow-left" width="24" height="24">
            <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button type="button" class="swiper-button-next">
          <svg
            class="icon-arrow-narrow-right arrow-right"
            width="24"
            height="24"
          >
            <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
