<section class="tech-skills-section" id="tech-skills">
    <h2 class="visually-hidden">Tech skills</h2>
    <div class="marquee">
        <ul class="marquee__content tech-skills-list">
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node. js</li>
            <li>React Native</li>
            <li>TypeScript</li>
        </ul>
        <ul aria-hidden="true" class="marquee__content tech-skills-list">
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node. js</li>
            <li>React Native</li>
            <li>TypeScript</li>
        </ul>
    </div>
    <div class="marquee rotated">
        <ul class="marquee__content tech-skills-list">
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node. js</li>
            <li>React Native</li>
            <li>TypeScript</li>
        </ul>
        <ul aria-hidden="true" class="marquee__content tech-skills-list">
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node. js</li>
            <li>React Native</li>
            <li>TypeScript</li>
        </ul>
    </div>
</section>