<section class="work-together-sec">
  <div class="container work-together-container green-dots">
    <div class="contact-box">

      <h2 class="work-together-title">
        <span class="one-line">
          <span>let’s</span>
          <span style="color: var(--accet-green)">work</span></span>
        <span style="color: var(--accet-green)">together</span>
      </h2>

      <p>Contact me to transform your ideas into exceptional solutions.</p>
      <address>
        <ul class="address-list">
          <li class="address-list-item">
            <a href="tel:+38 090 456 78 90">
              <svg class="address-icon">
                <use href="/img/icons.svg#icon-phone" width="24" height="24"></use>
              </svg>
              <span class="address-text">+38 090 456 78 90</span></a>
          </li>
          <li class="address-list-item">
            <a href="mailto: lloydjefferson@gmail.com">
              <svg class="address-icon">
                <use href="/img/icons.svg#icon-mail" width="24" height="24"></use>
              </svg>
              <span class="address-text">lloydjefferson@gmail.com</span></a>
          </li>
          <li class="address-list-item">
            <a href="">
              <svg class="address-icon">
                <use href="/img/icons.svg#icon-location" width="24" height="24"></use>
              </svg>
              <span class="address-text">USA, New York</span></a>
          </li>
        </ul>
      </address>
    </div>

    <!--    using novalidate to prevent defaultInputCheckingMessage -->
    <form class="work-together-form" novalidate>
      <input class="form-input-base form-email" type="email" name="contact-email" id="contact-email"
        placeholder="Your email*" required />
      <svg class="form-email-tick visually-hidden">
        <use href="/img/icons.svg#icon-success" width="16" height="16"></use>
      </svg>
      <p class="form-email-error-message visually-hidden">Invalid email, try again</p>
      <textarea class="form-input-base form-message" name="contact-message" id="contact-message"
        placeholder="Message"></textarea>
      <button type="submit" class="contact-submit-btn">Send message</button>
    </form>
  </div>
</section>