

.about-me-container {
    padding: 0 20px;
    margin: auto;
    width: 320px;
}

h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

p {

    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about-me-list li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-left: 12px;
}

 .about-me-list li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 1px;
    background-color: var(--accet-green);
    
 }



.img-about-me {
    display: block;
    width: 100%;
    max-width: 384px;
    height: auto;
    border-radius: 16px;
    margin: 0 0 40px 0;
}

.about-me {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 52px;
    font-weight: bold;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Impact', sans-serif;
    gap: 10px;
    padding-bottom: 40px;
}

.text-black {
    color: #292929
}

.text-green {
    color: #00b068
}

.text-one {
    margin-bottom: 24px;
}

.bio-text-container {
    margin-bottom: 40px;
}

.sec-edu {
    padding-bottom: 40px;
}

/* tablet screen 768px */

@media screen and (min-width: 768px) {
    .about-me-container {
        padding: 0px 32px;
        width: 768px;
        height: 100%;
        position: relative;
    }

    .about-me {
        font-size: 108px;
        line-height: 115%;
        letter-spacing: 0.02em;
    }

    h3 {
        font-size: 36px;
        line-height: 133%;
        letter-spacing: 0.01em;
    }

    .bio-container {
        display: flex;
        
    
    }


    .bio-text-container {
        width: 336px;
        height: 680px;
        margin: 0 0 140px 32px;
        
    }

    .img-about-me {
        max-width: 336px;
        height: auto;
        margin: 368px 0 60px 0;
        border-radius: 16px;

        
    }


    .background-img {
        top: 856px;
        left: 400px;
        bottom: 156px;
        right: 32px;
        position: absolute;
        width: 336px;
        height: 252px;
        background-image: url('../img/about-me-img/bg-about-me.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .text-two {
        padding-bottom: 12px;
    }

    .sec-edu {
        width: 336px;
        height: 280px;
        margin: 0 32px 0 0;
        padding: 0
    }

    

    .bio-list {
        display: flex;
        width: 704px;
        height: 280px;
    }
}

/* Desktop screen 1280px */
@media screen and (min-width: 1280px) {
    .about-me-container {
        padding: 0px 32px;
        width: 1280px;
        height: 1244px;
        margin: auto;
        
    }

    .img-about-me {
        max-width: 384px;
        height: auto;
        border-radius: 16px;
        margin: 272px 136px 80px 208px;
        
    }

    .bio-text-container {
        width: 488px;
        height: 488px;
        margin: 0;
        
    }

    .text-two {
        padding-bottom: 40px;
    }

    .background-img {
        top: 692px;
        left: 864px;
        bottom: 264px;
        right: 32px;
        width: 384px;
        height: 288px;
       
    }

    .bio-list {
        padding-left: 208px;
        width: 904px;
        height: 280px;
    }

    .sec-edu {
         width: 384px;
         margin: 0 136px 0 0;
        
    }

    
}