.faq-title {
  font-family: 'Impact', sans-serif;
  font-size: 3.25rem;
  line-height: 1.231;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* AC ITEM */
.faq-item.ac {
  border: none;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  padding: 28px 24px;
  background-color: unset;
  margin-top: 0;
}

.faq-item.active {
  border-radius: 16px;
  background: var(--light-accet);
}

.ac .ac-header {
  all: unset;
}

.ac.is-active {
  border-radius: 16px;
  background: var(--light-accet);
}

/* SVG BUTTON */
.faq-btn-close {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: inline-block;
  stroke: var(--black);
  fill: none;
}

.faq-btn-close {
  transition: transform var(--animation), margin-left var(--animation);
}

.ac-trigger.is-active .faq-btn-close {
  transform: rotate(180deg);
  margin-left: 4px;
}

.ac-trigger:not(.is-active) .faq-btn-close {
  transform: rotate(0deg);
  margin-left: 0;
}

.ac .ac-trigger::after {
  display: none;
}
/* END SVG */

.ac-panel p {
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  margin-top: 24px;
  transition: opacity var(--animation);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.ac.is-active .ac-panel p {
  opacity: 1;
}

/* AC HEADER/TRIGGER */
.ac button.ac-trigger {
  font: unset;
  font-size: 1.125rem;
  line-height: 1.556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.ac button.ac-trigger:focus {
  color: unset;
}

/* MEDIA */
@media (min-width: 768px) {
  .ac button.ac-trigger {
    font-size: 1.25rem;
    line-height: 1.6;
  }
  .faq-title {
    font-size: 6.75rem;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .faq-title {
    display: block;
    max-width: 520px;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 592px;
    margin: -96px 0 0 auto;
  }

  .green-decor {
    background-image: url('/img/faq/faq-bg.png');
    background-image: -webkit-image-set(
      url('/img/faq/faq-bg.png') 1x,
      url('/img/faq/faq-bg@2x.png') 2x
    );
    background-image: image-set(
      url('/img/faq/faq-bg.png') 1x,
      url('/img/faq/faq-bg@2x.png') 2x
    );
    background-repeat: no-repeat;
    background-position: bottom left 32px;
  }
}
