
.menu_modal {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(100%);
  position: fixed;
  bottom: 100px;
}

.menu_modal.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  
}

.logo {
  width: 360px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_menu {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.logo_part1 {
  font-size: 1.5rem;
  display: flex;
  color: #292929;
  font-family: Impact;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.logo_part1 .logo_part2 {
  color: #00b068;
}

.icon {
  z-index: 10001;
  width: 32px;
  height: 32px;
  fill: #292929;
  fill: transparent;
  stroke: #292929;

}


.menu_option {
  width: 320px;
  height: 704px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/decorbg1.png);
}

.option {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.option a {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  color: #292929;
  text-decoration: none;
  transition: color 0.3s ease;
}

.order {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.order:hover {
  color: rgb(3, 167, 100);
}
