/* Сброс стилей */
ul,
li,
h1,
h2,
h3,
h5,
img,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body_main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_modal {
  width: 360px;
  height: 800px;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%);
  position: fixed;
}

.menu_modal.open {
  /* display: flex; */
  transform: translateY(45%);
  opacity: 1;
  visibility: visible;
}
.logo {
  width: 360px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_menu {
  width: 360px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.logo_part1 {
  font-size: 24px;
  display: flex;

  padding-left: 20px;
  padding-bottom: 20px;
  color: #292929;
  font-family: Impact;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.logo_part2 {
  color: #00b068;
  font-family: Impact;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  padding-top: 16px;
  margin-right: 20px;
  padding-bottom: 16px;
}

.menu_option {
  width: 320px;
  height: 704px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 16px;
  background-image: url(../img/decorbg1.png);
}

.option {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.option a {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: #292929;
  text-decoration: none;
  transition: color 0.3s ease;
}

.order {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.order:hover {
  color: rgb(3, 167, 100);
}
