/* Сброс стилей */
ul,
li,
h1,
h2,
h3,
h5,
img,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body_main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_modal {
  width: 360px;
  height: 800px;

  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu_modal.open {
  display: flex;
}

.logo_menu {
  width: 360px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.logo {
  font-family: Impact, sans-serif;
  font-size: 24px;
  display: flex;
  gap: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.logo_part1 {
  color: #292929;
}

.logo_part2 {
  color: #00b068;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
}

.menu_option {
  width: 320px;
  height: 704px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 16px;
  background-image: url(/src/img/decorbg1.png);
}

.option {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.option a {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: #292929;
  text-decoration: none;
  transition: color 0.3s ease;
}
.order {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
