.hero-section {
  margin-top: 16px;
}

.hero-container {
  padding-top: 96px;
  padding-bottom: 72px;
}

.hero-green-dots {
  position: relative;
  z-index: 1;
}
.hero-green-dots::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(/img/hero/bg-img-mob.png), url(/img/hero/bg-img-mob2.png);
  background-repeat: no-repeat;
  /*background-size: 351px 264px, 170px 130px;*/
  background-position: right 18px top 10px, left 160px top 350px;
  filter: blur(3px);
  z-index: -1;
}

.hero-img {
  display: none;
}

.title-img {

  margin-bottom: 72px;
}

.hero-title {
  font-family: 'Impact';
  font-size: 4rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  line-height: 1.25;
}

.order-link {
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1;
  margin-bottom: 72px;
}

.arrow {
  min-width: 28px;
  opacity: 1;
  transition: opacity 0.8s ease;
  fill: var(--accet-green);
}

.hero-link {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  min-width: 220px;
  z-index: 1;
  position: relative;
  transition: color 0.8s ease;
}
.hero-link::after {
  content: '';
  height: 96px;
  width: clamp(125px, calc(125px + (40 * ((100vw - 320px) / 40))), 165px);;
  border-radius: 16px;
  background-color: var(--light-accet);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 110px;
  z-index: -1;
  transition: left 0.8s ease, background-color 0.8s ease;
  pointer-events: none;
}



.text-link {
  justify-content: space-between;
}

.hero-sub {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-span {
  color: var(--accet-green);
}

.soc-links {
  background-color: var(--light-grey);
}

.soc-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.soc-a:hover {
  color: var(--accet-green);
}

.soc-a {
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: color 0.8s ease;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 88px;
    padding-bottom: 104px;
  }
  .hero-green-dots {
    background-image: url(/img/hero/bg-img-tab.png), url(/img/hero/bg-img-tab2.png);
    background-repeat: no-repeat;
    /*background-size: 356px 276px;*/
    background-position: top 0 left 420px, top 485px left 145px;
  }

  .hero-green-dots::before {
    display: none;
  }
  .order-link:hover .hero-link {
    color: var(--white);
  }
  .order-link:hover .hero-link::after {
    background-color: var(--accet-green);
    left: -10%;
  }

  .order-link:hover .arrow {
    opacity: 0;
  }

  .title-img {
    margin-bottom: 92px;
  }

  .hero-title {
    font-size: 8.5rem;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.01em;
    min-width: 704px;
  }

  .hero-link {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .hero-link::after {
    width: 261px;
    left: 50%;
  }


  .hero-sub {
    font-size: 1.25rem;
    line-height: 1.6;
    width: 704px;
  }

  .soc-list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .soc-item:hover {
    color: var(--accet-green);
    transition: color 0.8s ease;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    margin-top: 0;
  }
  .hero-container {
    padding-bottom: 80px;
    padding-top: 88px;
  }
  .hero-green-dots {
    background-image: url(/img/hero/bg-img-desc.png), url(/img/hero/bg-img-desc2.png);
    background-repeat: no-repeat;
    /*background-size: 356px 276px;*/
    background-position: top 30px right 50px, top 520px right 680px;
    margin-bottom: 16px;
  }

  .hero-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 32px;
  }

  .hero-title {
    width: 552px;
    font-weight: 400;
  }

  .title-img {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }

  .text-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .order-link {
    margin-bottom: 0;
    margin-left: 76px;
  }

  .hero-link {
    min-width: 225px;
  }

  .hero-sub {
    width: 592px;
  }
}

