@media screen and (min-width: 1280px) {
  .projects-container {
    max-width: 1008px;
  }
}

.projects-title {
  color: var(--black);
  text-align: center;
  font-family: 'Impact';
  font-weight: 400;
  font-size: 3.25rem;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .projects-title {
    font-size: 6.75rem;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .projects-title {
    margin-bottom: 80px;
  }
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.project-list li {
  width: 100%;
}
.project-list img {
  width: 100%;
  height: auto;
  border-radius: 16px;

  margin-bottom: 12px;
}
.project-info-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.project-list p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
}
.diagonal-arrow-icon {
  stroke: var(--accet-green);
}
.projects-title-visit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}
.project-list h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black);
}
.project-list .visit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  color: var(--black);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  gap: 12px;
  padding: 12px 24px;
  max-width: 125px;

  transition: background-color var(--animation);
}
.project-list .visit-btn:hover,
.project-list .visit-btn:focus {
  background-color: var(--hover-grey);
}
@media screen and (min-width: 768px) {
  .project-list {
    gap: 60px;
  }
  .project-list img {
    border-radius: 24px;
    margin-bottom: 16px;
  }
  .project-info-box {
    gap: 20px;
  }
  .projects-title-visit-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .project-list h3 {
    display: inline-flex;
    font-size: 2.25rem;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }
  .project-list .visit-btn {
    display: inline-flex;
    fill: none;
    stroke: var(--accet-green);
  }
}
@media screen and (min-width: 1280px) {
  .project-list {
    gap: 80px;
  }
}

.load-more {
  display: block;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 1.125rem;
  border: none;
  position: relative;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  background-color: transparent;
  margin: 40px auto 0;

  transition: color var(--animation);
}
.load-more::after {
  content: '';
  width: 107px;
  height: 2px;
  background-color: var(--accet-green);
  position: absolute;
  bottom: 12px;
  left: 15%;
}
.load-more:hover,
.load-more:focus {
  color: var(--accet-green);
}
@media screen and (min-width: 768px) {
  .load-more {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin: 60px auto 0;
  }
  .load-more::after {
    width: 116px;
  }
}
@media screen and (min-width: 1280px) {
  .load-more {
    margin: 80px auto 0;
  }
}
